argparse-utils==1.2.0
attrs==19.1.0
cached-property==1.5.1
certifi==2019.9.11
chardet==3.0.4
haralyzer==1.8.0
idna==2.8
Jinja2==2.11.3
jsonschema==3.0.2
MarkupSafe==1.1.1
openapi-spec-validator==0.2.8
pathlib==1.0.1
prance==0.17.0
pyrsistent==0.15.4
python-dateutil==2.8.0
PyYAML==5.1.2
regex==2019.8.19
requests==2.22.0
requests-toolbelt==0.9.1
semver==2.8.1
six==1.12.0
swagger-parser==1.0.1
swagger-spec-validator==2.4.3
urllib3==1.24.3
